################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fowardauth-traefik-docker-compose-/FileContentIndex
/.vs
